schematron/old_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron">
    <pattern>
        <rule context="cbc:ID">
            <assert test=". != ''">ID must not be empty</assert>
        </rule>
        <rule context="cbc:IssueDate">
            <assert test=". != ''">IssueDate is required</assert>
        </rule>
    </pattern>
</schema>
